.header {
    height: 80px;
    background-color: rgb(39, 39, 39);
    border-bottom: 1px solid gray;

    font-family: 'Nunito',sans-serif;
    color: white;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    position: fixed;
    top: 0;
    left: 220px;
    right: 0;
    z-index: 100;
}

.left-area {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.header_obj {
    width: 150px;
    margin-top: 10px;

    display: flex;
    align-items: center;
    flex-direction: row;
    cursor: pointer;

    padding: 10px;
    text-align: center;
}

.header_obj img {
    height: 30px;
    width: 30px;
    margin: 0;

}

.header_obj p {
    margin: 5px;
    font-family: 'Nunito',sans-serif;
}

.right-area {
    position: fixed;
    right: 0;
    top: 0;

    display: flex;
    flex-direction: row;
    align-items: center;

    padding: 10px;
}

.notif-icon {
    height: 30px;
    width: 30px;
    padding: 10px;
    padding-top: 15px;
    cursor: pointer;
}

.notif-icon img {
    height: 30px;
    width: 30px;
}


.profile-icon {
    height: 50px;
    border: 1px solid white;
    border-radius: 30px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}

.profile {
    height: 30px;
    width: 30px;
    padding: 10px;
}

.arrow-icon {
    height: 80px;
    width: 10px;
    padding: 10px;
}

.profile-icon:hover {
    box-shadow: 2px 2px 3px black;
}

.header_obj p:hover{
    text-decoration: underline;
    font-weight: bold;
}