.header {
    height: 80px;
    background-color: #D4A6A6;
    border-bottom: 2px solid black;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.left-area {
    display: flex;
    flex-direction: row;
    align-content: center;
    cursor: default;
    pointer-events: none;
    margin-top: 0;
    margin-bottom: 60px;
    margin-left: 20px;
}

.logo-image {
}

.logo-image img {
    height: 100px;
    width: 120px;
}

.middle-area {
    display: flex;
    flex-direction: row;
    align-content: center;
    cursor: default;
    pointer-events: none;
}

.admin-label {
    margin-right: 20px;
    cursor: default;
    font-size: 25px;
}

.academic-year {
    margin-top: 15px;
    cursor: default;
}

.right-area {
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.notif-icon {
    margin-right: 25px;
    cursor: pointer;
}

.profile-icon {
    margin-right: 25px;
    cursor: pointer;
}